@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #f5f6fa;
  font-feature-settings: 'liga' off; /* Ligaturalarni o‘chirish */
  vertical-align: baseline; /* Belgilarning vertikal holatini sozlaydi */
  direction: ltr; /* Matnni chapdan o‘ngga yo‘naltiring */
  @apply font-sans;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}

.menu_button {
  display: none;
}
.language_selector_inner {
  display: none;
}
.navbar_form_inner {
  display: none;
}

.responsive-menu {
  position: absolute;
  top: 72px; /* Adjust this value to match your navbar height */
  left: 0;
  width: 100%;
  height: calc(44.38rem - 72px); /* Subtract navbar height from total height */
  background-color: #1a365d;
  z-index: 5;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
}

.responsive-menu.open {
  transform: translateX(0);
}
.responsive-menu{
  padding-top: 45px;
}

.responsive-menu-inner {
  padding-left: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.responsive-menu-inner button {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar_form_inner{
  display: none;
}
.responsive-menu-inner a {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #21466d;
}
.responsive-menu-inner a:hover {
  color: #ffc82a;
}

@media screen and (max-width: 1440px) {
  .navbar_main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar_inner {
    max-width: 1400px;
    margin: 0 auto;
  }
  .input_inner {
    width: 200px;
  }
  .list_inner {
    gap: 15px;
  }
}

@media screen and (max-width: 1300px) {
  .navbar_main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar_inner {
    max-width: 1250px;
    margin: 0 auto;
  }
  .input_inner {
    width: 200px;
  }
  .list_inner {
    gap: 10px;
  }
}
@media screen and (max-width: 1250px) {
  .navbar_main {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
  }
  .navbar_inner {
    max-width: 1250px;
    margin: 0 auto;
    z-index: 2;
  }
  .menu_button {
    display: flex;
  }
  .list_inner {
    display: none;
  }
  .input_inner {
    width: 300px;
  }
}
@media screen and (max-width: 820px) {
  .language_selector {
    display: none;
  }
  .language_selector_inner {
    display: block;
  }
}
@media screen and (max-width: 780px) {
  .main_wrapper {
    height: 100vh;
  }
  .responsive-menu{
    height: 100vh;
  }
  .hero_main {
    flex-direction: column;
    justify-content: center;
  }
  .hero_item {
    width: 100%;
  }
  .hero_title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .hero_text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .navbar_form {
    display: none;
  }
  .navbar_form_inner {
    display: block;
  }
  .input_inner {
    border-radius: 0.75rem;
    width: 300px;
  }
  .responsive-menu {
    padding-top: 34px;
  }
  .responsive-menu-inner button {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media screen and (max-width: 600px) {
  .main_wrapper {
    height: 100vh;
  }
  .hero_main {
    flex-direction: column;
    justify-content: center;
  }
  .hero_item {
    width: 100%;
  }
  .hero_title {
    width: 90%;
    margin: 0 auto;
   
  }
  .hero_text {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .main_wrapper {
    height: 100vh;
  }
  .hero_main {
    flex-direction: column;
    justify-content: center;
  }
  .hero_item {
    width: 100%;
  }
  .hero_title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
  }
  .hero_text {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    
  }
}